.roundContainer1 {
    border-radius: 5px;
    width: 1300px;
    margin-top: 50px;
}

.profile-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.roundContainer2 {
    border-radius: 5px;
    width: 800px;
    height: 600px;
    box-sizing: border-box; 
}

.roundContainer3 {
    border-radius: 5px;
    width: 800px;
    height: 500px;
    font-size: 45px;
    text-align: center;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 20px;
    background-clip: content-box;
}

.textWrap {
    font-size: 45px;
}

.hoursTitle {
    font-size: 40px;
}

.hoursAmount {
    font-size: 80px;
}